{% extends 'stud_assess/home.html' %}
{% load staticfiles %}

{% block graphs %}
<head>
<!-- <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
<script src="{% static 'stud_assess/js/canvasjs.min.js' %}"></script>
<script type="text/javascript">

    window.onload = function () {

        var chart1 = new CanvasJS.Chart("chartContainer1", {
            title:{
                text: {% for student in data %} "{{ student.Name }}" {% endfor %}
            },
            animationEnabled: true,
            data : [
            {
                type: "column", // Change type to "doughnut", "line", "splineArea", etc.
                dataPoints: [
                    {% for student in data %}
                        { label: "MQ1" , y: {{ student.MQ1 }} },
                        { label: "MQ2" , y: {{ student.MQ2 }} },
                        { label: "MQ3" , y: {{ student.MQ3 }} },
                        { label: "ML"  , y: {{ student.ML }}  },
                    {% endfor %}
                ]
            }
            ]
        });
        chart1.render();

        var chart2 = new CanvasJS.Chart("chartContainer2", {
            title:{
                text: {% for student in data %} "{{ student.Name }}" {% endfor %}
            },
            animationEnabled: true,
            data : [
            {
                type: "column", // Change type to "doughnut", "line", "splineArea", etc.
                dataPoints: [
                    {% for student in data %}
                        { label: "EQ1" , y: {{ student.EQ1 }} },
                        { label: "EQ2" , y: {{ student.EQ2 }} },
                        { label: "EQ3" , y: {{ student.EQ3 }} },
                        { label: "EQ4" , y: {{ student.EQ4 }} },
                        { label: "EL"  , y: {{ student.EL }}  },
                    {% endfor %}
                ]
            }
            ]
        });
        chart2.render();
    }


</script>
</head>
<body>
    <div class="row" style="text-align: center;">
        <div class="col ">
            <h2 style="color:red;">Midsem Marks</h2>
            <div id="chartContainer1" style="height: 300px; width: 100%;"></div>
        </div>
    <div class="row">
        <div class="col ">
            <h2 style="color:red;">Endsem Marks</h2>
            <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
        </div>
    </div>
    
</body>
{% endblock %}
