{% extends 'stud_assess/base.html' %}
{% load staticfiles %}

{% block home %}

{%if not user.is_authenticated %}
    <h1 style="color: red;"> Please Login First </h1>
{% endif %}

    
<head>
    <!-- Bootstrap Core CSS -->
    <!-- <link href="{% static 'stud_assess/css/bootstrap.min.css' %}" rel="stylesheet"> -->

    <!-- Custom CSS -->
    <link href="{% static 'stud_assess/css/simple-sidebar.css' %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{% static 'stud_assess/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'stud_assess/js/bootstrap.min.js' %}"></script>
</head>

<body>

    {% if is_teacher %}
	<div class="container">
    	<div class="row">
	    	<!-- <h2 style="text-align: center; color: blue">Welcome to the Portal </h2> -->

            <div id="wrapper">
                <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav" style="text-align: center;">
                        <li class="sidebar-brand" style="color: blue;"> Student's List </li>
                        <li class="sidebar-brand">
        					{% for student in students %}
                            <a href="{% url 'marks' student.id %}"> {{ student.Name }}</a>
        					{% endfor %}
                        </li>
                    </ul>
                </div>
                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                {% block graphs %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->
            </div>
            <!-- /#wrapper -->

    	</div>
	</div>
    {% endif %}

    {% if is_student %}
    <h1>user is a student</h1>

    {% endif %}
</body>

{% endblock %}
